frontend/node_modules
djangoBackend/.idea
djangoBackend/media
djangoBackend/.ipynb_checkpoints
djangoBackend/venv/
djangoBackend/db.sqlite3
djangoBackend/test chroma.ipynb
docker/chroma
chroma/
djangoBackend/api/Services/__pycache__/
djangoBackend/api/Views/__pycache__/
djangoBackend/api/__pycache__/
djangoBackend/api/migrations/
djangoBackend/djangoBackend/__pycache__/
